.tile-container {
    line-height: 0;
}
.tile {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #f9f9f9;
    transition: transform 1s ease-in-out;
}
.tile>.inner{
    display: none;
}
.tile:hover>.inner {
    display: block;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.25);
    position: absolute;
    content: '';
    width: 4rem;
    height: 4rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    z-index: 2;
}
.tile.animate {
    animation-name: scale-in;
    animation-duration: 0.5s;
}

/* The animation code */
@keyframes scale-in {
    0%   {transform: scale(0.0);}
    75%  {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}

.start-button {
    margin: 1rem auto;
}

.color-swatch {
    width: 60px;
    height: 60px;
    margin: 5px auto;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

@media (min-width: 768px)
.color-swatch {
    width: 100px;
    height: 100px;
}

.color-picker-group {
    display: inline-block;
    margin-bottom: 10px;
}
.color-picker-group>button {
    display: block;
}

.slider-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #333333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
}
